
<div class="col-md-9">
    <div class="row">
        <form class="login-container">
            Username:<br>
            <input type="text"><br>
            Password:<br>
            <input type="password"><br>

            <a href="#"><p>Forgot password?</p></a><br>
            <a href="#"><p>Forgot username?</p></a><br>

        </form>
    </div>
</div>